<h1>Places</h1>

<% if session["user_id"] %>
  <ul>
    <% @places.each do |place| %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  </ul>

  <p>
  <a href="/places/new" class="btn btn-outline-primary">New Place</a>
</p> 

<% else %>
  <p>You must be logged in to view places.</p>
<% end %>
